<!-- change-password.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<!-- navbar -->
<div th:replace="~{fragments/navbar::navbar}"></div>

<!-- content -->
<div class="container mt-4">
    <h2>Change password</h2>
    <form id="changePasswordForm" th:action="@{/api/user/change-password}" method="post">
        <div class="form-group">
            <label for="oldPassword">Old password:</label>
            <input type="password" id="oldPassword" name="old password" class="form-control" th:required="required">
        </div>
        <div class="form-group">
            <label for="newPassword">New password:</label>
            <input type="password" id="newPassword" name="new password" class="form-control" th:required="required">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!-- Подключаем скрипты Bootstrap для взаимодействия с элементами интерфейса -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    document.getElementById("changePasswordForm").addEventListener("submit", function (event) {
        event.preventDefault();
        const formData = {
            oldPassword: document.getElementById("oldPassword").value,
            newPassword: document.getElementById("newPassword").value
        };
        fetch(this.getAttribute("action"), {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
            .then(response => {
                if (response.ok) {
                    window.location.href = "/logout";
                } else {
                    response.text().then(data => alert(data));
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('ChangePassword failed. Please try again.');
            });
    });
</script>
</body>
</html>
